<a href="https://colab.research.google.com/github/KimJH3475/dumy/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8%EA%B0%9C%EB%85%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0. 파이썬 코드는 그냥 텍스트인데, 좀 정해진 규칙에 따라서 쓰여 있는 텍스트임
1. 이름이랑 값, 연산자, 예약어가 있음
- 값이 될 수 있는 애: 숫자(123), 따움표로 들어가 있는 문자열('뭔가 문자열', "뭔가 다른 문자열")
- 빈 괄호쌍이거나, 괄호 안에 값이 하나만 있거나, 괄호 안에 쉼표로 구분된 값들이 있거나
  - 예) [] : [], [1]
  - 예) [] : [1, 2, 3]
  - 예) () : (1, "다른 값", "뭔가 또 다른 값", 4)
  - 예) {} : {1, 2, 223, 5}
  - 예) [] : [[1,2], [3,4]] / [1,2], [3,4]
- {} 안에 쉼표로 구분되어 있는 애들이 a:b 형식이거나 하나만 있거나
  - 예) {1:2}
  - 예) {1:2, 3:4}
- 이름: 문자나 _로 시작하면서 띄어쓰기 없이 이어진 애들
  - 예) abdc
  - 예) 뭔가_이름
- 연산자: +, -, *, /, 등등등...
  - 예) **
  - 예) and, or
- 예약어: def, for, while, True, False, with, return

2. 위에 있는 내용이 정해진 규칙대로 배치되어 있는 텍스트를 파이썬 코드라고 합니다. 정해진 규칙대로 배치되어 있지 않으면, 문법 에러가 났다고 합니다. (문법에러 = syntax error)

In [ ]:
print('hello world!')

hello world!

In [ ]:
print(123123)
print([])
print(())
"sfafkjsdkfjd123123"
'12312312'
123
[]
{}
()

some_name = 123

print(some_name)
print(some_name_without_value)

SyntaxError: ignored

1

2

3

In [ ]:
print(1)
print(2)
print(3)

1
2
3

In [ ]:
def print_123():
    print(1)
    print(2)
    print(3)

print_123()

1
2
3